version: 2.1

defaults: &defaults
  working_directory: ~/osmosis
  docker:
    - image: circleci/node:12.16.1

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install Osmosis Dependencies
          command: cd osmosis; yarn
      - run:
          name: Build Osmosis
          command: |
            cd osmosis
            yarn add typescript
            npx typescript src/**/*.js --declaration --allowJs --emitDeclarationOnly --outDir dist
            yarn build
      - run:
          name: Install React Example Dependencies
          command: cd examples/counter-react; yarn
      - run:
          name: Run React Example Test
          command: yarn test
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: cd osmosis; yarn
      - run:
          name: Authenticate with registry
          command: cd osmosis; echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - run:
          name: build
          command: cd osmosis; yarn build
      - run:
          name: Generate Types
          command: cd osmosis; npx typescript src/**/*.js --declaration --allowJs --emitDeclarationOnly --outDir dist
      - run:
          name: Publish package
          command: cd osmosis; npm publish --access public

workflows:
  version: 2.1
  deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - master
