version: 2.1

defaults: &defaults
  working_directory: ~/osmosis
  docker:
    - image: circleci/node:12.16.1

jobs:
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Navigate to Osmosis directory
          command: cd ~/osmosis/osmosis
      - run:
          name: Install Dependencies
          command: yarn
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - run:
          name: build
          command: yarn build
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2.1
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master
                - fix-build-step
