version: 2.1

defaults: &defaults
  working_directory: ~/osmosis
  docker:
    - image: circleci/node:14.17.0

install_dependencies: &install_dependencies
  run:
    name: Install Dependencies
    command: cd osmosis; yarn

build_osmosis: &build_osmosis
  run:
    name: Build
    command: cd osmosis; yarn build

generate_types: &generate_types
  run:
    name: Generate Types
    command: cd osmosis; yarn generateTypes

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - <<: *install_dependencies
      - <<: *build_osmosis
      - <<: *generate_types
      - run:
          name: Install React Example Dependencies
          command: cd examples/counter-react; yarn
      - run:
          name: Run React Example Test
          command: yarn test
  deploy:
    <<: *defaults
    steps:
      - checkout
      - <<: *install_dependencies
      - <<: *build_osmosis
      - <<: *generate_types
      - run:
          name: Authenticate with registry
          command: cd osmosis; echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - run:
          name: Publish package
          command: cd osmosis; npm publish --access public
      - run:
          name: Create Git Version Tag
          command: "cd osmosis; PACKAGE_VERSION=$(cat package.json | grep \\\"version\\\" | head -1 | awk -F: '{ print $2 }' | sed 's/[\",]//g' | tr -d '[[:space:]]') && git tag v$PACKAGE_VERSION && git push --tags"

workflows:
  version: 2.1
  deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - master
