version: 2.1

defaults: &defaults
  working_directory: ~/osmosis
  docker:
    - image: cimg/node:18.17.1

install_dependencies: &install_dependencies
  run:
    name: Install Dependencies
    command: cd osmosis; yarn

build_osmosis: &build_osmosis
  run:
    name: Build
    command: cd osmosis; yarn build

generate_types: &generate_types
  run:
    name: Generate Types
    command: cd osmosis; yarn generateTypes

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - <<: *install_dependencies
      - <<: *build_osmosis
      - <<: *generate_types
      - run:
          name: Install React Example Dependencies
          command: cd examples/counter-nextjs; yarn
      - run:
          name: Run React Example Test
          command: yarn test
  deploy:
    <<: *defaults
    steps:
      - checkout
      - <<: *install_dependencies
      - <<: *build_osmosis
      - <<: *generate_types
      - run:
          command: |
            cd osmosis
            npm config set registry https://npm.pkg.github.com
            npm config set //npm.pkg.github.com/:_authToken=$GITHUB_PUBLISH_TOKEN
            npm publish
          name: Publish package to Github NPM Registry
      - run:
          command: |
            cd osmosis
            npm config set registry https://registry.npmjs.org
            npm config set //registry.npmjs.org/:_authToken=$NPM__TOKEN
            npm publish
          name: Publish package to Public NPM Registry
      - run:
          name: Create Git Version Tag
          command: "cd osmosis; PACKAGE_VERSION=$(cat package.json | grep \\\"version\\\" | head -1 | awk -F: '{ print $2 }' | sed 's/[\",]//g' | tr -d '[[:space:]]') && git tag v$PACKAGE_VERSION && git push --tags"

workflows:
  version: 2.1
  deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          context: package-publishing
          filters:
            branches:
              only:
                - master
