# This workflow is to automate Checkmarx SAST scans.  It runs on a push to the main branch.
#
# The following GitHub Secrets must be first defined:
#   - CHECKMARX_URL
#   - CHECKMARX_USER
#   - CHECKMARX_PASSWORD
#   - CHECKMARX_CLIENT_SECRET
#
# The following variables must be inserted below:
#   - <ProjectName>
#
# Update the 'team' field to reflect the team name used in Checkmarx.
#
# For full documentation, including a list of all inputs, please refer to the README https://github.com/checkmarx-ts/checkmarx-cxflow-github-action

name: Checkmarx SAST Scan
on:
  pull_request:
    branches:
      - main
      - master
      - development
  push:
    branches:
    - master
    - main
    - development
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Slack-start-of-scan
      uses: archive/github-actions-slack@v2.0.0
      id: notify1
      with:
        slack-bot-user-oauth-access-token: ${{ secrets.SAST_SLACK_TOKEN }}
        slack-channel: ${{ secrets.SAST_SLACK_CHANNEL }} #USE CHANNEL ID, NOT CHANNEL NAME, SINCE ID IS USED IN NEW SLACK API's
        slack-text: Started security scanning using checkamark project ${{ github.event.repository.name }}...
        slack-optional-icon_emoji: ":shipt-security:"
    - name: Checkmarx CxFlow Action
      uses: checkmarx-ts/checkmarx-cxflow-github-action@v1.1 #Github Action version
      with:
        project: ${{ github.event.repository.name }} # <-- Insert Checkmarx SAST Project Name
        team: /CxServer
        checkmarx_url: ${{ secrets.CHECKMARX_URL }} # To be stored in GitHub Secrets.
        checkmarx_username: ${{ secrets.CHECKMARX_USER }} # To be stored in GitHub Secrets.
        checkmarx_password: ${{ secrets.CHECKMARX_PASSWORD }} # To be stored in GitHub Secrets.
        checkmarx_client_secret: ${{ secrets.CHECKMARX_CLIENT_SECRET }} # To be stored in GitHub Secrets.
        break_build: false
        incremental: true 
        scanners: sast
        bug_tracker: Sarif
        params: --namespace=${{ github.repository_owner }} --repo-name=${{ github.event.repository.name }} --branch=${{ github.ref }}
    - name: Slack-end-of-scan
      uses: archive/github-actions-slack@v2.0.0
      id: notify2
      with:
        slack-bot-user-oauth-access-token: ${{ secrets.SAST_SLACK_TOKEN }}
        slack-channel: ${{ secrets.SAST_SLACK_CHANNEL }} #USE CHANNEL ID, NOT CHANNEL NAME, SINCE ID IS USED IN NEW SLACK API's
        slack-text: Completed security scanning of code for project ${{ github.event.repository.name }} report https://github.com/shipt/${{github.event.repository.name}}/security/code-scanning
        slack-optional-icon_emoji: ":completed:"        
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: cx.sarif   
    # - name: Upload report to slack
    #   id: report-upload-slack
    #   uses: adrey/slack-file-upload-action@master
    #   with:
    #     token: ${{ secrets.SAST_SLACK_TOKEN }}
    #     path: cx.sarif
    #     channel: ${{ secrets.SAST_SLACK_CHANNEL }}

 
